In [2]:
import pandas as pd
import numpy as np
import os
from scipy import stats
from scipy.stats import chi2_contingency

In [3]:
data=pd.read_csv("BuyerRatio.csv")

In [4]:
data.head(5)

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [6]:
x=np.array([[50,142,131,70],[435,1523,1356,750]]) #converting to array.

In [7]:
x

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [ ]:
#null hypothesis is independent of categorical variables
#and alternate hypothesis is dependent of all categorical variables
#our data is categorical so we use chi square test.

In [8]:
chi2_contingency(x)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [ ]:
#Here we accept the null hypothesis and reject alternative hypothesis
#This also states that propertion of sales of products between males and females at all four region are equal.